.MAIN__APP {
  width: 430px;
  max-width: 90%;
  margin: auto;
}
.todos__wrapper {
  margin-top: 20px;
}
.one__todo__wrapper {
  margin: 2px 0px;
  display: flex;
  align-items: center;
}
.one__todo__content {
  flex-grow: 1;
}
.one__todo__actions {
  width: 180px;
  text-align: center;
  justify-self: flex-end;
}

.edit__modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(63, 63, 63, 0.269);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  position: relative;
  padding: 30px;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
}

/* =================================== */
/* ========== UI ELEMENTS =========== */
/* =================================== */
button {
  padding: 5px 15px;
  border-radius: 3px;
}
.button__edit {
  background-color: rgb(236, 173, 55);
  border: 1px solid rgb(226, 174, 31);
}
.button__delete {
  background-color: rgb(226, 31, 31);
  border: 1px solid rgb(160, 14, 14);
  color: rgb(233, 233, 233);
}
.button__edit__todo,
.button__add__todo {
  background-color: rgb(5, 216, 5);
  border: 1px solid green;
}

.modal__close,
.button__edit__todo,
.button__add__todo,
.button__edit,
.button__delete {
  cursor: pointer;
}

.completed__icon__wrapper,
.uncompleted__icon__wrapper {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 2px;
  cursor: pointer;
}

.uncompleted__icon__wrapper {
  color: rgb(221, 30, 30);
}

.completed__icon__wrapper {
  color: rgb(5, 216, 5);
}

/* =================================== */
/* ======== GENERAL STYLES =========== */
/* =================================== */
.text__center {
  text-align: center;
}

input[type="text"] {
  padding: 4px 2px;
  font-size: 1.1rem;
  border-radius: 4px;
  border: 1px solid grey;
}
h3 {
  margin: 0;
}
